<div class="container">
  <div class="row">
  <div class="logo col-xs-11"> <i class="fa fa-lightbulb-o fa-5x lightbulb" aria-hidden="true"></i> </div>
  <div class="logo col-xs-1"> <%= link_to 'New Idea', new_idea_path, class: "btn btn-default lighttrigger", style: "margin-top:20px" %></div>
  </div>
  <div class="container">
  <% @ideas.each do |i| %>
    <div class="row">
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <h4 class="title"> <strong><%= i.title %></strong> </h4>
          <div class="description">
            <p> <%= link_to i.description, idea_path(i) %> </p>
            <% if can?(:manage, i) %>
            <%= link_to 'Edit', edit_idea_path(i) %>
            <%= link_to 'Delete', idea_path(i), method: :delete,
            data: { confirm: 'Are you sure?' } %>
            <% end  %>
          <img src="http://unsplash.it/g/1300/30/?blur" alt="" class="img-responsive preview">
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-xs-3"><% @username = User.find i.user_id %>By <%= @username.first_name %></div>
      <div class="col-xs-3"> <span class="btn btn-default">Joined</span> | <%= link_to '', idea_likes_path(i), class: "btn btn-default fa fa-thumbs-up", method: :post %> </div>
      <div class="col-xs-6" style="text-align:right">Members: 5 | Likes: <%= i.likes %></div>
      </div>
    </div>
  <% end  %>
  <hr>
</div>
</div>
