<div class="container">
  <div class="row">
    <div class="container">
      <div class="col-xs-9 col-sm-10 col-md-11"> <i class="fa fa-lightbulb-o fa-5x lightbulb" aria-hidden="true"></i> </div>
      <!-- <div class="col-xs-3 col-sm-2 col-md-1"> <%# link_to 'New Idea', new_idea_path, class: "btn btn-default lighttrigger", style: "margin-top:20px" %></div> -->
      <div class="col-xs-3 col-sm-2 col-md-1">   <button type="button" class="btn btn-default lighttrigger" data-toggle="modal" data-target="#myModal" style="margin-top:20px">
          New Idea
        </button>
      </div>
    </div>
  </div>


  <!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Idea</h4>
        </div>
        <div class="modal-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>





  <div class="container">
  <% @ideas.each do |i| %>
    <div class="row">
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <h4 class="title lighttrigger"> <strong><%= i.title %></strong> </h4>
          <div class="description">
            <p> <%= link_to i.description, idea_path(i) %> </p>
            <% if can?(:manage, i) %>
            <%= link_to 'Edit', edit_idea_path(i) %>
            <%= link_to 'Delete', idea_path(i), method: :delete,
            data: { confirm: 'Are you sure?' } %>
            <% end  %>
          <img src="https://unsplash.it/g/1300/30/?blur" alt="" class="img-responsive preview">
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-xs-3"><% @username = User.find i.user_id %>By <%= @username.first_name %></div>
      <div class="col-xs-5"> <span class="btn btn-default flat">Joined</span> |
        <% if user_signed_in? && can?(:like, i) %>
        <span class="btn btn-default flat lighttrigger">
            <% if i.liked_by?(current_user)  %>
              <%= link_to '<i class="fa fa-thumbs-down" aria-hidden="true"></i>'.html_safe, like_path(i.like_for(current_user)), method: :delete %>
              <%# link_to '', idea_likes_path(i), class: "btn btn-default flat fa fa-thumbs-up", method: :post %>
          <% else %>
              <%= link_to '<i class="fa fa-thumbs-up" aria-hidden="true"></i>'.html_safe, idea_likes_path(i), method: :post %>
          <% end %>
        </span>
        <% end %>
      </div>
      <div class="col-xs-4" style="text-align:right">Members: 5 | <%= pluralize i.likes.count, 'Like' %></div>
      </div>
    </div>
  <% end  %>
  <hr>
</div>
</div>
