<!DOCTYPE html>
<html>
  <head>
    <title>Ideas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div style="text-align:center">
      <%= notice || alert %>
    </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
